* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    color: black;
    background-color: white;
    font-family: sans-serif;
    margin-top: 40px;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}